.footer {
  background-color: #FFC300;
  display: flex;
  align-items: center;
  
  p, a {
    margin-left: 20px;
    text-decoration: none;
    color: #604900;
  }
}

.link {
  &:hover {
    background-color: #604900;
    color: white;
    border-radius: 4px;
  }
}