/* :root {
  --text-color: white;
  --background-color: red;
  --accent-color: yellow;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #966e53;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: white;
  /* color: var(--text-color); */
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: white;
  border-radius: 4px;
}

.navbar__auth {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

.navbar__auth li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: white;
}

.navbar__menu--active {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu--active li {
  padding: 8px 12px;
}

.navbar__menu--active li:hover {
  background-color: white;
  border-radius: 4px;
}

.navbar__auth--active {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

.navbar__auth--active li {
  padding: 8px 12px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__auth {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu--active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu--active li {
    width: 100%;
    text-align: center;
  }

  .navbar__auth--active {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}


/* .navbar {
  height: 10vh;
  width: 100%;
  background: #966e53;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.2rem;
}

.nav__logo {
  text-decoration: none;
  color: white;
}

.nav__logo:hover {
  cursor: pointer;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.nav__item {
  margin-right: 40px;
}

.nav__link:hover {
  color: red;
}

.nav__icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.navigation__auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__item {
  margin-right: 40px;
}

.nav__userimage {
  height: 50px;
  width: 50px;
  border-radius: 45px;
  margin-right: 50px;
}

@media only screen and (max-width: 500px) {
  .navbar {
    position: relative;
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80px;
    left: -100%;
    transition: 0.5s all;
  }

  .nav__links__active {
    background: blue;
    left: 0;
  }

  .nav__item {
    padding: 10px 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }

  .nav__icon {
    display: flex;
  }
} */