.wrap {
  width: 70%;
  margin: 20px auto;
  padding: 16px 10px 10px 18px;
  border: 2px solid #aaaaaa;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nicknamebox {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 13px;
}

.nicknamebox__text {
  margin: 0;
}

.textbox {
  width: 100%;
  min-height: 17px;
  padding-right: 1px;
  border: 0;
  font-size: 13px;
  -webkit-appearance: none;
  resize: none;
  box-sizing: border-box;
  background: transparent;
  color: var(--skinTextColor);
  outline: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 17px;
}

.imagebox {

}

.imagebox__image {
  width: 100px;
  height: 100px;
}

.attachbox {

}

.attachbox__buttonUpload {
  display: none;
}

.attachbox__buttonSubmit {
  
}